@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: #9381ff;
  padding: 20px;
}

label {
  font: 700 20px "Roboto", sans-serif;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#menu {
  list-style: none;
}

#menu li#logo {
  color: #fff;
  padding-right: 50px;
  font: 400 25px "Roboto", sans-serif;
}

#menu li {
  display: inline;
  /*padding-left: 450px;*/
  font-weight: bold;
  font: 700 25px "Roboto", sans-serif;
  vertical-align: middle;
}

#menu li:last-child {
  float: right;
}

#menu li a {
  color: #000;
  text-decoration: none;
  display: inline;
  padding: 50px;
  font: 700 20px "Roboto", sans-serif;
  transition: background 0.3s;
}

#menu li a#home {
  background: url(../assets/house32.png);
  background-repeat: no-repeat;
  background-position: left;
}

#menu li a#exit {
  background: url(../assets/exit32.png);
  background-repeat: no-repeat;
  background-position: right;
}

#menu li a:hover {
  color: #fff;
}

#content {
  display: flex;
  height: 100%;
}

aside {
  background: #9ba9ff;
  display: flex;
  flex: 3;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

aside img {
  width: 128px;
  margin: 20px;
}

#optionsBtn {
  text-decoration: none;
  margin-top: 30px;
  height: 50px;
  border-radius: 50px;
  font-weight: 500;
  background: #fff;
  color: #9381ff;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 18px "Roboto", sans-serif;
  cursor: pointer;
  border: 0;
  transition: filter 0.2s;
}

#optionsBtn:hover {
  background: #9381ff;
  color: #fff;
}

main {
  background: #fff;
  display: flex;
  height: auto;
  flex: 8;
  flex-direction: column;
  align-items: center;
}

main img {
  margin-top: 20px;
}

main strong {
  background: #9381ff;
  margin-top: 30px;
  width: 80%;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 30px "Roboto", sans-serif;
  color: #fff;
  max-width: 860px;
}


p, span {
  font: 18px "Roboto", sans-serif;
  font-weight: bold;
  
}

#cpf {
  margin-top: 10px;
}

