.alerta {
    padding: 25px;
    border: 1px solid gray;
    border-radius: 30px;
    margin-top: 20px;
    font-size: 20px;
  }
  
  .atencao {
    width: 100%;
    border-color: rgba(246, 187, 66, 0.7);
    color: black;
    background-color: rgba(246, 187, 66, 0.7);
  }
  
  .error {
    width: 100%;
    border-color: rgba(237, 85, 101, 0.7);
    color: black;
    background-color: rgba(237, 85, 101, 0.7);
  }
  .sucesso {
    width: 100%;
    border-color: rgba(160, 212, 104, 0.7);
    color: black;
    background-color: rgba(160, 212, 104, 0.7);
  }
  
  .info {
    border-color: #2f80e7;
    color: #fff;
    background-color: #5d9cec;
  }